# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Testing
.pytest_cache/
.mypy_cache/
htmlcov/

# Google Auth (SENSITIVE)
credentials.json
token.json

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
.DS_Store
